# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.FizzBuzzKata.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\chruc\Documents\Dev\C#\FizzBuzzKata\.idea\.idea.FizzBuzzKata\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
